
.fleet/run.json
*.xml
JustRPG-CS/bin/Debug/net7.0/Discord.Net.Commands.dll
JustRPG-CS/bin/Debug/net7.0/Discord.Net.Core.dll
JustRPG-CS/bin/Debug/net7.0/Discord.Net.Interactions.dll
JustRPG-CS/bin/Debug/net7.0/Discord.Net.Rest.dll
JustRPG-CS/bin/Debug/net7.0/Discord.Net.Webhook.dll
JustRPG-CS/bin/Debug/net7.0/Discord.Net.WebSocket.dll
JustRPG-CS/bin/Debug/net7.0/DnsClient.dll
JustRPG-CS/bin/Debug/net7.0/json/works.json
JustRPG-CS/bin/Debug/net7.0/JustRPG-CS
JustRPG-CS/bin/Debug/net7.0/JustRPG-CS.deps.json
JustRPG-CS/bin/Debug/net7.0/JustRPG-CS.dll
JustRPG-CS/bin/Debug/net7.0/JustRPG-CS.pdb
JustRPG-CS/bin/Debug/net7.0/JustRPG-CS.runtimeconfig.json
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Abstractions.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Binder.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Configuration.CommandLine.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Configuration.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Configuration.FileExtensions.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Json.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Configuration.UserSecrets.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Yaml.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.FileProviders.Abstractions.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.FileProviders.Physical.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.FileSystemGlobbing.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Hosting.Abstractions.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Hosting.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Logging.Configuration.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Logging.Console.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Logging.Debug.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Logging.EventLog.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Logging.EventSource.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
JustRPG-CS/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
JustRPG-CS/bin/Debug/net7.0/MongoDB.Bson.dll
JustRPG-CS/bin/Debug/net7.0/MongoDB.Driver.Core.dll
JustRPG-CS/bin/Debug/net7.0/MongoDB.Driver.dll
JustRPG-CS/bin/Debug/net7.0/MongoDB.Libmongocrypt.dll
JustRPG-CS/bin/Debug/net7.0/Newtonsoft.Json.dll
JustRPG-CS/bin/Debug/net7.0/runtimes/linux/native/libmongocrypt.so
JustRPG-CS/bin/Debug/net7.0/runtimes/linux/native/libsnappy64.so
JustRPG-CS/bin/Debug/net7.0/runtimes/linux/native/libzstd.so
JustRPG-CS/bin/Debug/net7.0/runtimes/osx/native/libmongocrypt.dylib
JustRPG-CS/bin/Debug/net7.0/runtimes/osx/native/libsnappy64.dylib
JustRPG-CS/bin/Debug/net7.0/runtimes/osx/native/libzstd.dylib
JustRPG-CS/bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Diagnostics.EventLog.dll
JustRPG-CS/bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Diagnostics.EventLog.Messages.dll
JustRPG-CS/bin/Debug/net7.0/runtimes/win/native/libzstd.dll
JustRPG-CS/bin/Debug/net7.0/runtimes/win/native/mongocrypt.dll
JustRPG-CS/bin/Debug/net7.0/runtimes/win/native/snappy32.dll
JustRPG-CS/bin/Debug/net7.0/runtimes/win/native/snappy64.dll
JustRPG-CS/bin/Debug/net7.0/Serilog.dll
JustRPG-CS/bin/Debug/net7.0/Serilog.Sinks.Console.dll
JustRPG-CS/bin/Debug/net7.0/SharpCompress.dll
JustRPG-CS/bin/Debug/net7.0/System.Diagnostics.EventLog.dll
JustRPG-CS/bin/Debug/net7.0/System.Interactive.Async.dll
JustRPG-CS/bin/Debug/net7.0/System.Linq.Async.dll
JustRPG-CS/bin/Debug/net7.0/System.Reactive.dll
JustRPG-CS/bin/Debug/net7.0/YamlDotNet.dll
JustRPG-CS/obj/rider.project.restore.info
JustRPG-CS/obj/project.packagespec.json
JustRPG-CS/obj/project.nuget.cache
JustRPG-CS/obj/project.assets.json
JustRPG-CS/obj/JustRPG-CS.csproj.nuget.g.targets
JustRPG-CS/obj/JustRPG-CS.csproj.nuget.g.props
JustRPG-CS/obj/JustRPG-CS.csproj.nuget.dgspec.json
JustRPG-CS/obj/Debug/net7.0/refint/JustRPG-CS.dll
JustRPG-CS/obj/Debug/net7.0/ref/JustRPG-CS.dll
JustRPG-CS/obj/Debug/net7.0/JustRPG-CS.pdb
JustRPG-CS/obj/Debug/net7.0/JustRPG-CS.GlobalUsings.g.cs
JustRPG-CS/obj/Debug/net7.0/JustRPG-CS.genruntimeconfig.cache
JustRPG-CS/obj/Debug/net7.0/JustRPG-CS.GeneratedMSBuildEditorConfig.editorconfig
JustRPG-CS/obj/Debug/net7.0/JustRPG-CS.dll
JustRPG-CS/obj/Debug/net7.0/JustRPG-CS.csproj.FileListAbsolute.txt
JustRPG-CS/obj/Debug/net7.0/JustRPG-CS.csproj.CoreCompileInputs.cache
JustRPG-CS/obj/Debug/net7.0/JustRPG-CS.csproj.CopyComplete
JustRPG-CS/obj/Debug/net7.0/JustRPG-CS.csproj.AssemblyReference.cache
JustRPG-CS/obj/Debug/net7.0/JustRPG-CS.assets.cache
JustRPG-CS/obj/Debug/net7.0/JustRPG-CS.AssemblyInfoInputs.cache
JustRPG-CS/obj/Debug/net7.0/JustRPG-CS.AssemblyInfo.cs
JustRPG-CS/obj/Debug/net7.0/apphost
JustRPG-CS/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
JustRPG-CS/obj/Debug/net6.0/JustRPG-CS.GlobalUsings.g.cs
JustRPG-CS/obj/Debug/net6.0/JustRPG-CS.GeneratedMSBuildEditorConfig.editorconfig
JustRPG-CS/obj/Debug/net6.0/JustRPG-CS.csproj.FileListAbsolute.txt
JustRPG-CS/obj/Debug/net6.0/JustRPG-CS.csproj.CoreCompileInputs.cache
JustRPG-CS/obj/Debug/net6.0/JustRPG-CS.csproj.AssemblyReference.cache
JustRPG-CS/obj/Debug/net6.0/JustRPG-CS.assets.cache
JustRPG-CS/obj/Debug/net6.0/JustRPG-CS.AssemblyInfoInputs.cache
JustRPG-CS/obj/Debug/net6.0/JustRPG-CS.AssemblyInfo.cs
JustRPG-CS/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
